<div class="row">
  <div class="col-md-8 emp-profile">
    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
        <form [formGroup]="service.privateModel" autocomplete="off" (submit)="submitGeneral()">
          <div class="row">
            <div class="col-md-10">
              <h2>General settings</h2>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="form-group col-md-4">
              <label>Private profile</label>
            </div>

            <div class="form-group col-md-6">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input large" id="customSwitch" formControlName="IsPrivate"
                  [(ngModel)]="userDetails.isPrivate" [checked]="userDetails.isPrivate">
                <label class="custom-control-label" for="customSwitch"></label>
              </div>

              <p><span>If you make your profile private, your page will
                  not be displayed in the search</span></p>
            </div>
          </div>

          <hr>
          <div class="form-row">
            <div class="form-group col-md-4 offset-md-4">
              <button type="submit" class="btn btn-lg btn-block">Save</button>
            </div>
          </div>
        </form>
      </div>


      <div class="tab-pane fade" id="v-pills-security" role="tabpanel" aria-labelledby="v-pills-security-tab">
        <div class="row">
          <div class="col-md-10">
            <h2>Security settings</h2>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="form-group col-md-4">
            <label>Password</label>
          </div>
          <div class="form-group col-md-6">
            <div class="btn btn-secondary btn-sm" (click)="open(content)">Change password</div>
          </div>
        </div>

      </div>



    </div>
  </div>

  <div class="col-md-3 emp-profile" style="height: 150px; max-height: 150px; position: sticky; top: 75px;">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab"
        aria-controls="v-pills-general" aria-selected="true">General</a>

      <a class="nav-link" id="v-pills-security-tab" data-toggle="pill" href="#v-pills-security" role="tab"
        aria-controls="v-pills-security" aria-selected="false">Security</a>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <style>
    .file {
      position: relative;
      overflow: hidden;
      border: none;
      border-radius: 4px;
      font-size: 15px;
      background: #b2b3b6;
    }

    .file input {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
      cursor: pointer;
    }
  </style>
  <form [formGroup]="service.changePasswordModel" autocomplete="off" (submit)="submitChangePassword()">
    <div class="modal-header">
      <h4 class="modal-title">Change your password</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="form-group col-md-6">
          <label>old password</label>
        </div>
        <div class="form-group col-md-6">
          <input type="password" class="form-control" formControlName="OldPassword" placeholder="old password">
          <label class="text-danger"
            *ngIf="service.changePasswordModel.get('OldPassword').touched && service.changePasswordModel.get('OldPassword').errors?.required">This
            field is mandatory.</label>
          <label class="text-danger"
            *ngIf="service.changePasswordModel.get('OldPassword').touched && service.changePasswordModel.get('OldPassword').errors?.minlength">Minimum
            6 characters required.</label>
        </div>
      </div>

      <div formGroupName="Passwords">
        <div class="row">
          <div class="form-group col-md-6">
            <label>New password</label>
          </div>
          <div class="form-group col-md-6">
            <input type="password" class="form-control" formControlName="NewPassword" required
              placeholder="new password">
            <label class="text-danger"
              *ngIf="service.changePasswordModel.get('Passwords.NewPassword').touched && service.changePasswordModel.get('Passwords.NewPassword').errors?.required">This
              field is mandatory.</label>
            <label class="text-danger"
              *ngIf="service.changePasswordModel.get('Passwords.NewPassword').touched && service.changePasswordModel.get('Passwords.NewPassword').errors?.minlength">Minimum
              6 characters required.</label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Repeat password</label>
          </div>
          <div class="form-group col-md-6">
            <input type="password" class="form-control" formControlName="ConfirmPassword" required
              placeholder="repeat password">
            <label class="text-danger"
              *ngIf="service.changePasswordModel.get('Passwords.ConfirmPassword').touched && service.changePasswordModel.get('Passwords.ConfirmPassword').errors?.required">This
              field is mandatory.</label>
            <label class="text-danger"
              *ngIf="service.changePasswordModel.get('Passwords.ConfirmPassword').touched && service.changePasswordModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
              password does not match.</label>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-md btn-block">Change
          password</button>
      </div>
    </div>
  </form>

</ng-template>