.emp-profile {
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    border-radius: 0.3rem;
    background: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.btn:hover, .btn:focus, .btn:active {
    outline: 0 !important;
}

.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}

.card-container:not(.manual-flip):hover .card, .card-container.hover.manual-flip .card {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.card-container.static:hover .card, .card-container.static.hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

.card {
    -webkit-transition: -webkit-transform .8s;
    -moz-transition: -moz-transform .8s;
    -o-transition: -o-transform .8s;
    transition: transform .8s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1f7fb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
    z-index: 3;
}

.back .btn-simple {
    position: absolute;
    left: 0;
    bottom: 4px;
}

.card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}

.card-container, .front, .back {
    width: 100%;
    height: 400px;
    border-radius: 4px;
}

.card .cover {
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.card .cover img {
    width: 100%;
}

.card .user {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -80px auto 0;
    overflow: hidden;
    width: 120px;
}

.card .user img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

.card .content .main {
    min-height: 160px;
}

.card .back .content .main {
    height: 215px;
}

.card .name {
    font-size: 30px;
    line-height: 40px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}

.card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.card .age {
    color: #474747;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.card .age span {
    color: #999999;
    text-align: center;
    /* margin-bottom: 20px; */
    font-size: 15px;
}

.card .zodiac {
    color: #474747;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.card .zodiac span {
    color: #999999;
    text-align: center;
    /* margin-bottom: 20px; */
    font-size: 15px;
}

.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}

.card .footer .social-links {
    font-size: 18px;
}

.card .footer .social-links a {
    margin: 0 7px;
}

.card .footer .social-links a:hover {
    color: #212529;
    cursor: pointer;
}

.card .footer .btn-simple {
    margin-top: -6px;
}

.card .header {
    padding: 15px 20px;
    height: 90px;
}

.card .motto {
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container {
    width: 100%;
    margin-top: 50px;
}

.card .stats {
    display: block;
    float: left;
    width: 33.333333%;
    text-align: center;
}

.card .stats:first-child {
    border-right: 1px solid #EEEEEE;
}

.card .stats:last-child {
    border-left: 1px solid #EEEEEE;
}

.card .stats h4 {
    font-weight: 300;
    margin-bottom: 5px;
}

.card .stats p {
    color: #777777;
}

.title {
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}

.title small {
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}

.space-30 {
    height: 30px;
    display: block;
}

.space-50 {
    height: 50px;
    display: block;
}

.space-200 {
    height: 200px;
    display: block;
}

.white-board {
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}

.ct-heart {
    color: #F74933;
}

pre.prettyprint {
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.btn-simple {
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover, .btn-simple:focus {
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}

.btn-simple i {
    font-size: 16px;
}