<div class="emp-profile">
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Specify the selection criteria</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="navbar-brand">Advanced search</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>

<div class="emp-profile">



    <div class="row">





        <div class="col-md-4" *ngFor="let result of searchResult">

            <div class="card-container">

                <div class="card">

                    <div class="front">
                        <div class="cover">
                            <img src="/assets/img/cover.png" />
                        </div>
                        <div class="user">
                            <img class="img-circle" *ngIf="result.avatarUrl == null"
                                src="/assets/img/DefaultAvatar.png" />
                            <img class="img-circle" *ngIf="result.avatarUrl != null"
                                src="https://localhost:44327{{result.avatarUrl}}" />
                        </div>
                        <div class="content">

                            <div class="main">

                                <!-- <h3 class="name">Kirill Kisly</h3> -->
                                <h3 class="name">{{result.user.firstName}} {{result.user.lastName}}</h3>
                                <!-- <p class="age">22 <span>y/o</span></p> -->
                                <p class="age">{{result.user.age}} <span>y/o</span></p>
                                <!-- <p class="zodiac"><span>Zodiac sign: </span>Canser</p> -->
                                <p class="zodiac"><span>Zodiac sign: </span>{{result.userType.zodiacSign.value}}
                                </p>
                                <!-- <p class="text-center">"I'm the new Sinatra, and "</p> -->
                                <p class="text-center" *ngIf="result.userType.targetRelationship != null">
                                    "{{result.userType.targetRelationship}}"</p>

                            </div>

                            <!-- <div class="footer">
                                <i class="fa fa-mail-forward"></i> Auto Rotation
                            </div> -->
                        </div>
                    </div>

                    <div class="back">

                        <div class="header">
                            <h5 class="motto">"It's a good choice. Add friends and start Dating!"</h5>
                        </div>

                        <div class="content">

                            <div class="main">
                                <h4 class="text-center">Interests</h4>
                                <!-- <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many
                                    others...</p> -->
                                <p class="text-center" *ngIf="result.userType.interests != null">
                                    {{result.userType.interests}}</p>
                                <p class="text-center" *ngIf="result.userType.interests == null">unspecified</p>



                                <div class="stats-container">
                                    <div class="stats">
                                        <!-- <h4>60</h4> -->
                                        <h4>{{result.userType.weight}}</h4>
                                        <p>
                                            Weight
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4></h4>
                                        <p></p>
                                    </div>
                                    <div class="stats">
                                        <!-- <h4>189</h4> -->
                                        <h4>{{result.userType.height}}</h4>
                                        <p>
                                            Height
                                        </p>
                                    </div>
                                </div>
                                <!-- <p class="zodiac"><span>Family status: </span>Single</p> -->
                                <p class="zodiac" *ngIf="result.userType.familyStatus != null">
                                    <span>Family status:
                                    </span>{{result.userType.familyStatus.value}}
                                </p>
                                <p class="zodiac" *ngIf="result.userType.familyStatus == null">
                                    <span>Family status:
                                    </span>unspecified
                                </p>


                            </div>
                        </div>


                        <div class="footer">
                            <div class="social-links text-center">
                                <a><i class="fas fa-user-plus"></i></a>
                                <a><i class="fas fa-comments"></i></a>
                                <a><i class="fas fa-user-minus"></i></a>
                                <a>To profile <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>















    </div>
</div>