.emp-profile {
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    border-radius: 0.3rem;
    background: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.emp-profile-friend {
    padding: 1%;
    /* margin-top: 5px; */
    border-radius: 0.3rem;
    background: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}