<div class="row">
  <div class="col-md-8 offset-md-1">
    <div class="emp-profile">

      <div class="row">

        <ng-template [ngIf]="friendList?.length > 0" [ngIfElse]="empyFriendList">
          <div class="col-md-12">
            <div class="emp-profile-friend">
              <div class="row">
                <div class="col-md-2">
                  <img src="/assets/img/DefaultAvatar.png"
                    style="max-height: 75px; max-width: 75px; height: 75px; width: 75px; border-radius:50%;">
                </div>

                <div class="col-md-4">
                  <p style="font-size: 23px"><a class="nav-link py-0" routerLink='/home/friends'> Kirill Kisly</a></p>
                  <p style="font-size: 15px"><a class="nav-link py-0" routerLink='/home/friends'> Send message</a></p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #empyFriendList>
          <div class="col-md-12">
            Your friends list is empty. Add other users to display here.
          </div>
        </ng-template>

      </div>
    </div>
  </div>

  <div class="col-md-4"></div>
</div>