<div class="row">
  <div class="col-md-8 emp-profile">
    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade show active" id="v-pills-main" role="tabpanel" aria-labelledby="v-pills-main-tab">
        <form [formGroup]="service.editMainModel" autocomplete="off" (submit)="onSubmitMainInfo()">
          <div class="row">
            <div class="col-md-10">
              <h2>Main information</h2>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>User name:</label>
            </div>
            <div class="form-group col-md-8">
              <input type="text" class="form-control" [(ngModel)]="userDetails.user.userName"
                formControlName="UserName">
              <label class="text-danger"
                *ngIf="service.editMainModel.get('UserName').touched && service.editMainModel.get('UserName').errors?.required 
                  || service.editMainModel.get('UserName').touched && service.editMainModel.get('UserName').errors?.required">This
                field
                is mandatory.</label>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>First name:</label>
            </div>
            <div class="form-group col-md-8">
              <input type="text" class="form-control" [(ngModel)]="userDetails.user.firstName"
                formControlName="FirstName">
              <label class="text-danger"
                *ngIf="service.editMainModel.get('FirstName').touched && service.editMainModel.get('FirstName').errors?.required 
                  || service.editMainModel.get('FirstName').touched && service.editMainModel.get('FirstName').errors?.required">This
                field
                is mandatory.</label>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Last name:</label>
            </div>
            <div class="form-group col-md-8">
              <input type="text" class="form-control" [(ngModel)]="userDetails.user.lastName"
                formControlName="LastName">
              <label class="text-danger"
                *ngIf="service.editMainModel.get('LastName').touched && service.editMainModel.get('LastName').errors?.required 
                  || service.editMainModel.get('LastName').touched && service.editMainModel.get('LastName').errors?.required">This
                field
                is mandatory.</label>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Date of birth:</label>
            </div>
            <div class="form-group col-md-8">
              <input type="date" class="form-control" [ngModel]="userDetails.user.dateOfBirth | date:'yyyy-MM-dd'"
                (ngModelChange)="BirthDate = $event" formControlName="DateOfBirth">
              <label class="text-danger"
                *ngIf="service.editMainModel.get('DateOfBirth').touched && service.editMainModel.get('DateOfBirth').errors?.required 
                  || service.editMainModel.get('DateOfBirth').touched && service.editMainModel.get('DateOfBirth').errors?.required">This
                field
                is mandatory.</label>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Gender:</label>
            </div>
            <div class="form-group col-md-8">
              <select class="form-control" [(ngModel)]="userDetails.user.gender.id" formControlName="GenderId">
                <option *ngFor="let gender of additionalData.genders" [value]="gender.id">
                  {{gender.value}}
                </option>
              </select>
            </div>
          </div>

          <hr>
          <div class="form-row">
            <div class="form-group col-md-4 offset-md-4">
              <button type="submit" class="btn btn-lg btn-block">Save</button>
            </div>
          </div>
        </form>
      </div>


      <div class="tab-pane fade" id="v-pills-details" role="tabpanel" aria-labelledby="v-pills-details-tab">
        <form [formGroup]="service.editMoreModel" autocomplete="off" (submit)="onSubmitMoreInfo()">

          <div class="row">
            <div class="col-md-10">
              <h2>Details information</h2>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Height:</label>
            </div>
            <div class="form-group col-md-6">
              <div class="slidecontainer">
                <input class="slider" type="range" #height (input)="height.value" id="height" min="100" max="250"
                  value="175" formControlName="Height" [(ngModel)]="userDetails.userType.height">
                <p for="height">Your height: {{height.value}} cm</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Weight:</label>
            </div>
            <div class="form-group col-md-6">
              <div class="slidecontainer">
                <input class="slider" type="range" #weight (input)="weight.value" id="weight" min="40" max="150"
                  value="95" formControlName="Weight" [(ngModel)]="userDetails.userType.weight">
                <p for="weight">Your weight: {{weight.value}} kg</p>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Education:</label>
            </div>
            <div class="form-group col-md-6">
              <select class="form-control" *ngIf="userDetails.userType.education != null"
                [(ngModel)]="userDetails.userType.education.id" formControlName="Education">
                <option hidden value="-1" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="-1">Not selected</option>
                <option *ngFor="let education of additionalData.education" [value]="education.id">
                  {{education.value}}
                </option>
              </select>
              <select class="form-control" *ngIf="userDetails.userType.education == null" formControlName="Education">
                <option hidden value="-1" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="-1">Not selected</option>
                <option *ngFor="let education of additionalData.education" [value]="education.id">
                  {{education.value}}
                </option>
              </select>
              <p><span>Choose your education</span></p>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Financial position:</label>
            </div>
            <div class="form-group col-md-6">
              <select class="form-control" *ngIf="userDetails.userType.financialSituation != null"
                [(ngModel)]="userDetails.userType.financialSituation.id" formControlName="FinancialSituation">
                <option hidden value="-1" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="-1">Not selected</option>
                <option *ngFor="let financialSituation of additionalData.financialSituation"
                  [value]="financialSituation.id">
                  {{financialSituation.value}}
                </option>
              </select>
              <select class="form-control" *ngIf="userDetails.userType.financialSituation == null"
                formControlName="FinancialSituation">
                <option hidden value="-1" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="-1">Not selected</option>
                <option *ngFor="let financialSituation of additionalData.financialSituation"
                  [value]="financialSituation.id">
                  {{financialSituation.value}}
                </option>
              </select>
              <p><span>Choose your financial position</span></p>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Nationality:</label>
            </div>
            <div class="form-group col-md-6">
              <select class="form-control" *ngIf="userDetails.userType.nationality != null"
                [(ngModel)]="userDetails.userType.nationality.id" formControlName="Nationality">
                <option hidden value="-1" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="-1">Not selected</option>
                <option *ngFor="let nationalities of additionalData.nationalities" [value]="nationalities.id">
                  {{nationalities.value}}
                </option>
              </select>
              <select class="form-control" *ngIf="userDetails.userType.nationality == null"
                formControlName="Nationality">
                <option hidden value="-1" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="-1">Not selected</option>
                <option *ngFor="let nationalities of additionalData.nationalities" [value]="nationalities.id">
                  {{nationalities.value}}
                </option>
              </select>
              <p><span>Choose your nationality</span></p>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Family status:</label>
            </div>
            <div class="form-group col-md-6">
              <select class="form-control" *ngIf="userDetails.userType.familyStatus != null"
                [(ngModel)]="userDetails.userType.familyStatus.id" formControlName="FamilyStatus">
                <option hidden value="-1" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="-1">Not selected</option>
                <option *ngFor="let familyStatus of additionalData.familyStatus" [value]="familyStatus.id">
                  {{familyStatus.value}}
                </option>
              </select>
              <select class="form-control" *ngIf="userDetails.userType.familyStatus == null"
                formControlName="FamilyStatus">
                <option hidden value="-1" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="-1">Not selected</option>
                <option *ngFor="let familyStatus of additionalData.familyStatus" [value]="familyStatus.id">
                  {{familyStatus.value}}
                </option>
              </select>
              <p><span>Choose your family status</span></p>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Language:</label>
            </div>
            <div class="form-group col-md-6">
              <select multiple class="form-control" formControlName="Languages">
                <option *ngFor="let languages of additionalData.languages" [value]="languages.id">
                  {{languages.value}}
                </option>
              </select>
              <p><span>Select the languages you know</span></p>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Bad habits:</label>
            </div>
            <div class="form-group col-md-6">
              <select multiple class="form-control" formControlName="BadHabits">
                <option *ngFor="let badHabits of additionalData.badHabits" [value]="badHabits.id">
                  {{badHabits.value}}
                </option>
              </select>
              <p><span>Choose your bad habits</span></p>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Interests:</label>
            </div>
            <div class="form-group col-md-6">
              <textarea class="form-control" aria-label="With textarea" rows="5"
                [(ngModel)]="userDetails.userType.interests" formControlName="Interests"></textarea>
              <p><span>Enter your interests</span></p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4 text-right">
              <label>Purpose of acquaintance:</label>
            </div>
            <div class="form-group col-md-6">
              <textarea class="form-control" aria-label="With textarea" rows="5"
                [(ngModel)]="userDetails.userType.targetRelationship" formControlName="TargetRelationship"></textarea>
              <p><span>Enter your dating goal</span></p>
            </div>
          </div>

          <hr>
          <div class="form-row">
            <div class="form-group col-md-4 offset-md-4">
              <button type="submit" class="btn btn-lg btn-block">Save</button>
            </div>
          </div>





        </form>

      </div>
    </div>
  </div>

  <div class="col-md-3 emp-profile" style="height: 150px; max-height: 150px; position: sticky; top: 75px;">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-main-tab" data-toggle="pill" href="#v-pills-main" role="tab"
        aria-controls="v-pills-main" aria-selected="true">Main</a>

      <a class="nav-link" id="v-pills-details-tab" data-toggle="pill" href="#v-pills-details" role="tab"
        aria-controls="v-pills-details" aria-selected="false">Details</a>
    </div>
  </div>
</div>