<form [formGroup]="service.registerModel" autocomplete="off" (submit)="onSubmit()">

  <div class="form-group required">
    <label>Username</label>
    <input type="text" class="form-control" formControlName="UserName" placeholder="Username">
    <label class="text-danger"
      *ngIf="service.registerModel.get('UserName').touched && service.registerModel.get('UserName').errors?.required">This
      field is mandatory.</label>
  </div>

  <div class="form-group required">
    <label>Full name</label>
    <div class="input-group">
      <input type="text" aria-label="First name" class="form-control" placeholder="First name"
        formControlName="FirstName">
      <input type="text" aria-label="Last name" class="form-control" placeholder="Last name" formControlName="LastName">
    </div>
    <label class="text-danger" *ngIf="service.registerModel.get('FirstName').touched && service.registerModel.get('FirstName').errors?.required 
      || service.registerModel.get('LastName').touched && service.registerModel.get('LastName').errors?.required">This field
      is mandatory.</label>
  </div>

  <div class="form-group">
    <label>Date of birth</label>
    <input type="date" class="form-control" formControlName="DateOfBirth" placeholder="Birthday">
  </div>

  <div class="form-group">
    <label>Gender</label>
    <div class="btn-group btn-group-toggle btn-block" ngbRadioGroup formControlName="GenderId">
      <label ngbButtonLabel class="btn btn-secondary">
        <input ngbButton type="radio" [value]="1"> MALE
      </label>
      <label ngbButtonLabel class="btn btn-secondary">
        <input ngbButton type="radio" [value]="2"> FEMALE
      </label>
    </div>
    <small class="text-muted">
      Select your gender
    </small>
  </div>

  <div class="form-group required">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="Email" placeholder="Email">
    <label class="text-danger"
      *ngIf="service.registerModel.get('Email').touched && service.registerModel.get('Email').errors?.email">Invalid email
      address.</label>
  </div>

  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="Password" placeholder="Create your password">
      <label class="text-danger"
        *ngIf="service.registerModel.get('Passwords.Password').touched && service.registerModel.get('Passwords.Password').errors?.required">This
        field is mandatory.</label>
      <label class="text-danger"
        *ngIf="service.registerModel.get('Passwords.Password').touched && service.registerModel.get('Passwords.Password').errors?.minlength">Minimum
        6 characters required.</label>
      <small class="text-muted">
        Password must be at least 5 characters, uppercase and lowercase letters, and special symbols
      </small>
    </div>

    <div class="form-group required">
      <label>Confirm password</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="Confirm your password">
      <label class="text-danger"
        *ngIf="service.registerModel.get('Passwords.ConfirmPassword').touched && service.registerModel.get('Passwords.ConfirmPassword').errors?.required">This
        field is mandatory.</label>
      <label class="text-danger"
        *ngIf="service.registerModel.get('Passwords.ConfirmPassword').touched && service.registerModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
        password does not match.</label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.registerModel.valid">Sign Up</button>
    </div>
  </div>
</form>