<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a href="" class="navbar-brand text-white">Venus Hook</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </div>
</nav>
<div class="container">

  <div class="emp-profile">
    <div class="row">

      <div class="col-md-10">
        <h2>Complete your profile</h2>
      </div>

    </div>

    <br>
    <hr>


    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="/assets/img/DefaultAvatar.png" class="avatar img-circle img-thumbnail"
            alt="avatar">
          <!-- <h6>Upload a different photo...</h6>
          <input type="file" class="text-center center-block file-upload"> -->
        </div>
      </div>

      <div class="col-md-9">

        <form [formGroup]="service.moreRegisterModel" autocomplete="off" (submit)="onSubmit()">

          <div class="row">
            <div class="form-group col-md-6">
              <label>Height</label>
              <div class="slidecontainer">
                <input class="slider" type="range" #height (input)="height.value" id="height" min="100" max="250"
                  value="175" formControlName="Height">
                <p for="height">Your height: {{height.value}} cm</p>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Weight</label>
              <div class="slidecontainer">
                <input class="slider" type="range" #weight (input)="weight.value" id="weight" min="40" max="150"
                  value="95" formControlName="Weight">
                <p for="weight">Your weight: {{weight.value}} kg</p>
              </div>

            </div>
          </div>

          <hr>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Education</label>
              <select class="form-control" formControlName="Education">
                <option hidden value="" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="">Not selected</option>
                <option *ngFor="let education of additionalData.education" [value]="education.id">
                  {{education.value}}
                </option>

              </select>
              <p><span>Choose your education</span></p>
            </div>

            <hr>

            <div class="form-group col-md-6">
              <label>Financial position</label>
              <select class="form-control" formControlName="FinancialSituation">
                <option hidden value="" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="">Not selected</option>
                <option *ngFor="let financialSituation of additionalData.financialSituation"
                  [value]="financialSituation.id">
                  {{financialSituation.value}}
                </option>
              </select>
              <p><span>Choose your financial position</span></p>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Nationality</label>
              <select class="form-control" formControlName="Nationality">
                <option hidden value="" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="">Not selected</option>
                <option *ngFor="let nationalities of additionalData.nationalities" [value]="nationalities.id">
                  {{nationalities.value}}
                </option>
              </select>
              <p><span>Choose your nationality</span></p>
            </div>
            <div class="form-group col-md-6">
              <label>Family status</label>
              <select class="form-control" formControlName="FamilyStatus">
                <option hidden value="" disabled selected>Not selected</option>
                <option class="selectEmpty" [value]="">Not selected</option>
                <option *ngFor="let familyStatus of additionalData.familyStatus" [value]="familyStatus.id">
                  {{familyStatus.value}}
                </option>

              </select>
              <p><span>Choose your family status</span></p>
            </div>

          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Language</label>
              <select multiple class="form-control" formControlName="Languages">
                <option *ngFor="let languages of additionalData.languages" [value]="languages.id">
                  {{languages.value}}
                </option>
              </select>
              <p><span>Choose your language</span></p>
            </div>

            <div class="form-group col-md-6">
              <label>Bad habits</label>
              <select multiple class="form-control" formControlName="BadHabits">
                <option *ngFor="let badHabits of additionalData.badHabits" [value]="badHabits.id">
                  {{badHabits.value}}
                </option>
              </select>
              <p><span>Choose your bad habits</span></p>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="form-group col-md-6">
              <label>Interests</label>
              <textarea class="form-control" aria-label="With textarea" formControlName="Interests"></textarea>
              <p><span>Enter your interests</span></p>
            </div>

            <div class="form-group col-md-6">
              <label>Purpose of acquaintance</label>
              <textarea class="form-control" aria-label="With textarea" formControlName="TargetRelationship"></textarea>
              <p><span>Enter your dating goal</span></p>
            </div>
          </div>

          <hr>

          <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
              <button type="submit" class="btn btn-lg btn-block">Complete
                registration</button>
            </div>
          </div>

        </form>



      </div>

    </div>




  </div>
</div>