.nav-link[data-toggle].collapsed:after {
    content: "▾";
}

.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}

.nav-link {
    color: #212529;
}

.nav-link:hover {
    color: #fff;
}

.nav-item:hover {
    background-color: #212529;
    border-radius: 0.3em;
    color: #fff;
}

.emp-profile {
    margin-top: 2%;
}
