<!-- *ngIf="!userDetails.isFirstLogin" -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">Venus Hook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" (click)="onMatches()">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Friends</a>
        </li> -->
      </ul>

      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{userDetails.user.userName}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item btn btn-secondary" (click)="onProfile()">Profile</button>
          <!-- <a class="dropdown-item" href="#">My profile</a> -->
          <div class="dropdown-divider"></div>
          <button class="dropdown-item btn btn-secondary" (click)="onEditProfile()">Edit profile</button>
          <button class="dropdown-item btn btn-secondary" (click)="onSettings()">Settings</button>
          <!-- <a class="dropdown-item btn btn-secondary" href="#">Settings</a> -->
          <div class="dropdown-divider"></div>
          <button class="dropdown-item btn btn-secondary" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">

    <div class="col-md-2 collapse d-lg-flex emp-profile" id="navbarText">

      <div class="nav flex-column w-100">

        <div class="nav-item">
          <a routerLink='/home/profile' class="nav-link"><i class="fas fa-home"></i> My profile</a>
        </div>
        <div class="nav-item">
          <a routerLink='/home/matches' class="nav-link"><i class="fas fa-globe-europe"></i> Matches</a>
        </div>
        <div class="nav-item">
          <a routerLink='/home/chats' class="nav-link"><i class="fas fa-envelope-open"></i> Messages</a>
        </div>
        <div class="nav-item">
          <a href="" class="nav-link collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i
              class="fas fa-users"></i> Friends</a>


        </div>
        <div class="collapse" id="submenu1" aria-expanded="false" style="margin-left: 5px;">
          <ul class="flex-column nav">
            <div class="nav-item"><a class="nav-link py-0" routerLink='/home/friends'><i class="fas fa-hand-spock"></i>
                My friends</a>
            </div>
            <div class="nav-item"><a class="nav-link py-0" routerLink='/home/friends/requests'><i
                  class="fas fa-handshake"></i> Requests</a></div>
            <div class="nav-item"> <a class="nav-link py-0" routerLink='/home/friends/blacklist'><i
                  class="fas fa-toilet-paper"></i> Blacklist</a></div>
          </ul>
        </div>
        <div class="nav-item">
          <a routerLink='/user/login' class="nav-link"><i class="fas fa-photo-video"></i> Photos</a>
        </div>
        <div class="nav-item">
          <a routerLink='/home/settings' class="nav-link"><i class="fas fa-cog"></i> Settings</a>
        </div>








      </div>






    </div>

    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>