body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0.3rem;
    background: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.emp-profile-single{
    padding: 1%;
    margin-top: 2%;
    margin-left: 10px;
    border-radius: 0.3rem;
    background: #fff;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.profile-img{
    text-align: center;
    cursor: pointer;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    background: #212529b8;
    cursor: pointer;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #545d6a;
}
.profile-edit-btn{
    border: none;
    border-radius: 0.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
}
button[type=submit].profile-edit-btn:disabled{
    border-radius: 20px;
    border: 1px;
    background-color: #9ca3aa;
    color: #fff;
    cursor: default;
}
.profile-rating{
    font-size:15px;
    color: #818182;
    margin-top: 5%;
}
.profile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
    cursor:help;
}
.profile-rating small{
    color: #495057;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #333;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 14px;
    color: #333;
    /* color: #818182; */
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 0%;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-work p>span{
    text-decoration: none;
    color: #818182;
    font-weight: 600;
    font-size: 14px;
    text-transform: lowercase;
}

.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #818182;
}

div label{
    text-transform: uppercase;
    font-size: 0.9rem;
 }