<!-- <div class="emp-profile"> -->

<form method="post">
  <div class="row">

    <div class="col-md-4 emp-profile-single span4">
      <div class="profile-img" (click)="open(content)">
        <img *ngIf="userDetails.avatarUrl == null" src="/assets/img/DefaultAvatar.png" alt=""
          style="max-height: 200px; max-width: 250px" />

        <img *ngIf="userDetails.avatarUrl != null" src="https://localhost:44327{{userDetails.avatarUrl}}" alt=""
          style="max-height: 200px; max-width: 250px" />
        <div class="file btn btn-lg btn-primary">
          Change Photo
        </div>
      </div>
    </div>

    <div class="col-md-7 emp-profile-single">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-head">
            <h4>
              {{userDetails.user.userName}} <small *ngIf="userDetails.isPrivate == true" style="color: #b2b3b6">(is
                private)</small>
            </h4>
            <hr>
            <h5>
              {{userDetails.user.firstName}} {{userDetails.user.lastName}}
            </h5>

            <p class="profile-rating">Reply rate:
              <span title="Reply rate shows the ratio of incoming messages to replies">0.33</span></p>

            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                aria-controls="contact" aria-selected="true">Main</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail"
                aria-selected="false">Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo"
                aria-selected="false">Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="blacklist-tab" data-toggle="tab" href="#blacklist" role="tab"
                aria-controls="blacklist" aria-selected="false">Blacklist</a>
            </li>
          </ul> -->
          </div>
        </div>
        <!-- <div class="col-md-4">
          <button class="btn btn-secondary" (click)="onEditProfile()">Edit profile</button>
        </div> -->
      </div>
    </div>



    <!-- <div class="col-md-2">
      <button class="btn btn-secondary" (click)="onEditProfile()">Edit profile</button>
    </div> -->

  </div>

  <div class="row">
    <div class="col-md-4 emp-profile-single">
      <div class="profile-work">
        <p *ngIf="userDetails.user.age != null">Age: <span>{{userDetails.user.age}} y/o</span></p>
        <p *ngIf="userDetails.userType.height != 0">Height: <span>{{userDetails.userType.height}} cm</span></p>
        <p *ngIf="userDetails.userType.weight != 0">Weight: <span>{{userDetails.userType.weight}} kg</span></p>
        <hr>
        <p *ngIf="userDetails.userType.familyStatus != null">Family status:
          <span>{{userDetails.userType.familyStatus.value}}</span></p>
        <p *ngIf="userDetails.userType.zodiacSign != null">Zodiac sign:
          <span>{{userDetails.userType.zodiacSign.value}}</span></p>
        <p *ngIf="userDetails.userType.nationality != null">Nationality:
          <span>{{userDetails.userType.nationality.value}}</span></p>
        <p *ngIf="userDetails.user.gender != null">Gender: <span>{{userDetails.user.gender.value}}</span>
        </p>
      </div>
    </div>

    <div class="col-md-7 emp-profile-single">
      <div class="profile-head">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
              aria-controls="contact" aria-selected="true">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail"
              aria-selected="false">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo"
              aria-selected="false">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="blacklist-tab" data-toggle="tab" href="#blacklist" role="tab"
              aria-controls="blacklist" aria-selected="false">Blacklist</a>
          </li>
        </ul>
      </div>

      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">
            <div class="col-md-6">
              <label>User name</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.user.userName}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.user.email}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>First name</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.user.firstName}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Last name</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.user.lastName}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Date of birth</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.user.dateOfBirth |date:format: shortDate}}</p>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="detail" role="tabpanel" aria-labelledby="detail-tab">
          <div class="row" *ngIf="userDetails.userType.interests != null">
            <div class="col-md-6">
              <label>Interests</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.userType.interests}}</p>
            </div>
          </div>
          <div class="row" *ngIf="userDetails.userType.targetRelationship != null">
            <div class="col-md-6">
              <label>Purpose of acquaintance</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.userType.targetRelationship}}</p>
            </div>
          </div>
          <div class="row" *ngIf="userDetails.userType.education != null">
            <div class="col-md-6">
              <label>Education</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.userType.education.value}}</p>
            </div>
          </div>
          <div class="row" *ngIf="userDetails.userType.financialSituation != null">
            <div class="col-md-6">
              <label>Financial Situation</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.userType.financialSituation.value}}</p>
            </div>
          </div>
          <hr *ngIf="userDetails.userType.userTypeLanguages.length > 0">
          <div class="row" *ngIf="userDetails.userType.userTypeLanguages.length > 0">
            <div class="col-md-6">
              <label>Languages</label>
            </div>
            <div class="col-md-6">
              <p *ngFor="let value of userDetails.userType.userTypeLanguages">
                - {{value.language.value}}
              </p>
            </div>
          </div>
          <hr *ngIf="userDetails.userType.userTypeBadHabits.length > 0">
          <div class="row" *ngIf="userDetails.userType.userTypeBadHabits.length > 0">
            <div class="col-md-6">
              <label>Bad habits</label>
            </div>
            <div class="col-md-6">
              <p *ngFor="let value of userDetails.userType.userTypeBadHabits">
                - {{value.badHabit.value}}
              </p>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">
          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-secondary" (click)="onAlbumProfile()">Add album</button>
              <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Add album" /> -->
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </div>

        </div>
        <div class="tab-pane fade" id="blacklist" role="tabpanel" aria-labelledby="blacklist-tab">

        </div>
      </div>
    </div>
  </div>
</form>
<!-- </div> -->



<ng-template #content let-modal>
  <style>
    .file {
      position: relative;
      overflow: hidden;
      border: none;
      border-radius: 4px;
      font-size: 15px;
      background: #b2b3b6;
    }

    .file input {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
      cursor: pointer;
    }
  </style>
  <form #imageForm=ngForm (ngSubmit)="OnChangePhoto(Image)">
    <div class="modal-header">
      <h4 class="modal-title">Upload a new photo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">

      <p><strong>It will be easier for friends to get to know You if You upload your real photo.</strong></p>
      <p>Upload an image in JPG, JPEG or PNG format.</p>

      <div style="margin: 3%; padding: 3%;">
        <img [src]="imageUrl" style="width: 250px; height:200px; border: 2px dotted #b1b3b6; border-radius: 0.5em">
      </div>

      <div class="file btn btn-lg btn-outline-secondary" ngbAutofocus>
        Choose file
        <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)" />
      </div>

      <p>
        <small>If You're having trouble downloading, try selecting a smaller
          photo.</small>
      </p>

    </div>
    <div class="modal-footer text-center" [hidden]="Image.value==''">


      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>

      <button type="submit" class="profile-edit-btn" [disabled]="Image.value==''">Submit</button>



    </div>
  </form>
</ng-template>